<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <!-- ENV example -->
  <title>Pryv @ Glance</title>
  <base href="{browser-source}/">
  <meta property="og:title" content="Slice of life" />
  <meta property="og:url" content="https://{host}" />
  <meta property="og:description" content="Content available on Pryv only." />
  <meta property="og:image" content="http://d233medomu0tdb.cloudfront.net/media_dist/og_image.jpg" />
  <meta property="og:image:secure_url" content="https://d233medomu0tdb.cloudfront.net/media_dist/og_image.jpg" />
  <link rel="stylesheet" type="text/css" href="styles/pryv.min.css">
  <script type="text/javascript" charset="utf-8" src="script/vendor.js"></script>
  <script type="text/javascript" charset="utf-8" src="script/app_bundle_main.js"></script>
  <script type="text/javascript">
    $(function () {
      var sampleApp = require('SampleApp');
      sampleApp.main();
    });
  </script>
  <script id="super-condensed-view" type="template">
    <div class="aggregated-icon Numericals"></div>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>

    <div class="aggregated-icon-page"></div>
    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <% _.each(_.keys(datas), function (key) {
          %><p><%= _.size(datas[key])%> <%= key %></p> <%
          })
          %>
        </div>
      </div>
    </div>
  </script>
  <script id="positionsView" type="template">
    <div class="aggregated-icon Positions"></div>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>

    <div id="map-canvas-<%=id%>" class="mapView"></div>
  </script>
  <script id="picturesView" type="template">
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>

  </script>

  <script id="notesView" type="template">
    <div class="aggregated-icon Notes"></div>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>

    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <%= content %>
        </div>
      </div>
    </div>
    <div class="tags"><%= tags %></div>
    <div class="date"><%= new Date(time * 1000).toLocaleDateString() %></div>
  </script>
  <script id="genericsView" type="template">
    <div class="aggregated-icon <%= type.split("/")[0] %> <%= type.split("/")[1] %>"></div>

    <span class="aggregated-nbr-events"><%=eventsNbr%></span>

    <div class="aggregated-icon-page"></div>


    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <% if (type.split("/")[0] === 'url') { %>
          <a href="<%= content %>"><%= content %></a>
          <% } else { %>
          <%= content %>
          <% } %>
        </div>
      </div>
    </div>

  </script>
  <script id="nodeView" type="template">

    <%
    if (typeof(content) != "undefined") {
    if (typeof(content.name) != "undefined" && typeof(content.clientData) != "undefined" ) { %>
    <div class='nodeHeader <%= content.clientData.color %>'><%= content.name %></div>
    <% } else if (typeof(content.name) != "undefined" ) { %>
    <div class='nodeHeader '><%= content.name %></div>
    <% } else if (typeof(content.username) != "undefined") { %>
    <div class='nodeHeader'><%= content.username %> / <%= content._accessInfo.name %></div>
    <% } } %>
    <span></span>
  </script>

  <script type="text/html" id="template-detailListCompositeView">
    <ul id="detail-list"></ul>
  </script>
  <script type="text/html" id="template-detailItemView">
    <input type="checkbox" class="checkbox">
    <div class="view">
      <%= new Date(event.time * 1000).toLocaleDateString() %> <%= new Date(event.time *
      1000).toLocaleTimeString() %>
    </div>
  </script>

  <script type="text/html" id="template-DnD">
    <div id="DnD-body">
      <div id="DnD-panel-left">
        <div id="DnD-left-content">
          <div id="DnD-left-content-headerSingle">The Current Chart</div>
          <div id="DnD-left-content-single"></div>
          <div id="DnD-left-content-headerFinal">Preview</div>
          <div id="DnD-left-content-final"></div>
        </div>
      </div>
      <div id="DnD-panel-right">
        <div id="DnD-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="modal-title" id="myModalLabel">Drag and Drop</h4>
        </div>
        <div id="DnD-right-content">
          <ul id="DnD-right-content-lists" class="DnD-right-content-lists"></div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/html" id="template-DnD-ListCompositeView">
    <div class="detail-div"></div>
  </script>
  <script type="text/html" id="template-DnD-ItemView">
    <a>
      <input class="DnD-itemView-checkbox" type="checkbox" name="chartSelector" value="isSelected">
      <span class="DnD-itemView-text"><%= streamName %></span>
    </a>
  </script>
  <script type="template" id="template-detail-content-position">
  </script>
  <script type="template" id="template-detail-content-generic">
    <% if (event) {%>
    <div class="event-structure" id="full-content"><%= showContent() %></div>
    <div class="event-structure" id="full-attachment"><%= showAttachment() %></div>
    <div class="event-structure" id="add-attachment"></div>
    <% } %>
  </script>
  <script type="template" id="template-detail-creation-type">
    <h1>Choose an event type</h1>
    <ul id="type-select">
      <li class="type-select" data-type="note/txt">Add a note</li>
      <li class="type-select" data-type="picture/attached">Add a picture</li>
      <li class="type-select" data-type="position/wgs84">Add a position</li>
    </ul>
  </script>
  <script type="template" id="template-detail-creation-stream">
    <h1>Choose a stream</h1>
    <%= getStream() %>
  </script>
  <script type="template" id="template-detail-content-note">
    <% if (event) {%>
    <ul>
      <li class="event-structure editable" id="current-content">content: <label><%= event.content %></label>
        <textarea class="edit form-control" rows="5" id="edit-content" value="<%= event.content %>"><%= event.content %></textarea>
      </li>
    </ul>
    <% } %>
  </script>
  <script type="template" id="template-detail-content-picture">
    <% if (event) {%>
    <ul>
      <li class="event-structure" id="current-picture"><img src="<%= getSrc() %>" alt="<%= getAlt()%>">
        <div class="event-structure" id="add-attachment"></div>
      </li>
    </ul>
    <% } %>
  </script>
  <script type="template" id="template-detail-full">
      <% if (event) {%>
      <ul>
        <li class="event-structure editable" id="current-streamId">streamId: <label><%= event.streamId
          %></label>
          <select class="edit" id="edit-streamId"><%= getStreamStructure() %></select>
        </li>
        <li class="event-structure" id="current-trashed">trashed: <label><%= event.trashed %></label>
        </li>
        <li class="event-structure editable" id="current-time">time: <label><%= new Date(event.time *
          1000).toLocaleDateString() %> <%= new Date(event.time * 1000).toLocaleTimeString()
          %></label>
          <input type="datetime-local" class="edit" id="edit-time" value="<%= new Date(Math.round(event.time * 1000)).toISOString().slice(0, -5) %>">
        </li>
        <li class="event-structure" id="current-type">type: <label><%= event.type %></label>
          <input class="edit" id="edit-type" value="<%= event.type %>">
        </li>
        <li class="event-structure editable" id="current-description">description: <label><%=
          event.description %></label>
          <input class="edit" id="edit-description" value="<%= event.description %>"></li>
        <li class="event-structure editable" id="current-tags">tags: <label><%= event.tags.join(', ')
          %></label>
          <input class="edit" id="edit-tags" value="<%= event.tags.join(', ') %>"></li>

        <button id ="submit-edit" type="button" class="btn btn-primary">Submit</button>
        <button id ="trash-edit" type="button" class="btn btn-danger">Trash</button>
      </ul>
      <% } %>
  </script>
  <script type="template" id="template-fusion-graph">
    <div id="fusion-full">
    </div>
  </script>
</head>

<body>
<span id="pryvButton"></span>
<a href="#" id="logo-add">+</a>
<a href="#" id="logo-reload" class="logo">Pryv</a>

<div id="tree">
  <div id="empty-events">
    <h1> No events to display </h1>
  </div>
</div>
<div id="timeframe"></div>
<div class="modal fade" id="pryv-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Google Analytics -->
<script>
  var _gaq=[['_setAccount','UA-36589447-3'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
