#timeframe {
  height: 60px;
  /*margin-bottom: -35px;*/
}
/*@font-face {
  font-family: MuseoSans-300;
  src: url(../fonts/MuseoSans-300.otf);
}*/
html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

}
body{
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto',Georgia,Arial,sans-serif;
  font-size:14px;
  overflow: hidden;
  background: url(../images/bg3.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  font-weight: 300;
  /*letter-spacing: 1px;*/
}

.logo{
  z-index: 90000;
  position: relative;
  top: 0;
  left: 0;
  text-indent: -9999em;
  display: block;
  width: 40px;
  height: 40px;
  background:url(../images/logo-pryv.png) 0 0 no-repeat;
  background-color: #3e3e3e;
}
.logo:hover{
  background-position: -40px 0px;
}
.logo.loading {
  background:url(../images/loader2.gif) 0 0 no-repeat;
  background-color: #3e3e3e;
}
.menu-button {
  z-index: 90000;
  position: relative;
  float: right;
  margin-left: 10px;
  top: 0;
  display: block;
  background-color: #3e3e3e;
  color: #eee;
  padding-top: 6px;
  padding-left: 8px;
}
#login-button {
  float: right;
  padding: 10px;
  font-weight: bold;
}
#login-button:hover, #login-button:focus {
  text-decoration: none;
  color: white;
}
#login-dropdown .dropdown-menu {
  right: 0;
  left: auto;
  background-color: #3e3e3e;
  border-radius: 0px;
}
#login-dropdown .dropdown-menu a {
  color: #eee;
}
#login-dropdown .dropdown-menu a:hover {
  background-color: inherit;
  color: #fff;
}
#logo-add {
  width: 40px;
  height: 40px;
  font-size: 26px;
}
#logo-sharing {
  width: 40px;
  height: 40px;
  font-size: 26px;
}
#logo-subscribe {
  width: 40px;
  height: 40px;
  font-size: 26px;
}
#subscribe-list {
  display: block;
  list-style-type: none;
}
#logo-create-sharing {
  width: 40px;
  height: 40px;
  font-size: 26px;
}
#tree {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
}
.loading + #tree > #empty-events {
  display: none;
}
.node + #empty-events {
 display: none;
}
#empty-events {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.Center-Container.is-Table { display: table;height: 100%;width:100%; }
.is-Table .Table-Cell {
  display: table-cell;
  vertical-align: middle;
}
.is-Table .Center-Block {
  /*width: 50%;*/
  margin: 10px;
  text-align: center;
}
.modal-animation {
  position: absolute;
  transition: height 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease, right 0.5s ease, opacity 0.5s ease;
  -webkit-transition: height 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease, right 0.5s ease, opacity 0.5s ease;
  -moz-transition: height 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease, right 0.5s ease, opacity 0.5s ease;
  -ms-transition: height 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease, right 0.5s ease, opacity 0.5s ease;
  -o-transition: height 0.5s ease, width 0.5s ease, top 0.5s ease, left 0.5s ease, bottom 0.5s ease, right 0.5s ease, opacity 0.5s ease;
}
.node{
  position: absolute;
  transition: height 1s ease, width 1s ease, top 1s ease, left 1s ease, bottom 1s ease, right 1s ease;
  -webkit-transition: height 1s ease, width 1s ease, top 1s ease, left 1s ease, bottom 1s ease, right 1s ease;
  -moz-transition: height 1s ease, width 1s ease, top 1s ease, left 1s ease, bottom 1s ease, right 1s ease;
  -ms-transition: height 1s ease, width 1s ease, top 1s ease, left 1s ease, bottom 1s ease, right 1s ease;
  -o-transition: height 1s ease, width 1s ease, top 1s ease, left 1s ease, bottom 1s ease, right 1s ease;
  border-radius: 2px;
}
.nodeHeader {
  font-size:18px;
  line-height:18px;
}
.EventsNode {
  overflow: hidden;
  cursor: pointer;
}
.EventsNode:hover {
  box-shadow: 0 0 0 1px #FFF;
  -webkit-box-shadow: 0 0 0 1px #FFF;
  -moz-box-shadow: 0 0 0 1px #FFF;
  -ms-box-shadow: 0 0 0 1px #FFF;
  -o-box-shadow: 0 0 0 1px #FFF;
}
.EventsNode:hover .aggregated-nbr-events {
/*font-size:50px;
font-weight: 100;
padding: 0px 15px;
-webkit-transition: font 0.1s ease;
-moz-transition: font 0.1s ease;
-o-transition: font 0.1s ease;
-ms-transition: font 0.1s ease; */
}

/*-----------------theme Connection*/
#node_connection_0 .EventsNode{background-color: #00896E;}
/*#node_connection_0 > .nodeHeader {border-left:20px solid #1BBC9D;}*/

#node_connection_1 .EventsNode{background-color: #266A9C;}
/*#node_connection_1 > .nodeHeader {border-left:20px solid #3598DC;}*/

#node_connection_2 .EventsNode{background-color: #D68912;}
/*#node_connection_2 > .nodeHeader {border-left:20px solid #F1C40F;}*/

#node_connection_3 .EventsNode{background-color: #8e44ad;}

#node_connection_4 .EventsNode{background-color: #c0392b;}

#node_connection_5 .EventsNode{background-color: #2c3e50;}
#node_connection_6 .EventsNode{background-color: #2c3e50;}
#node_connection_7 .EventsNode{background-color: #2c3e50;}
#node_connection_8 .EventsNode{background-color: #2c3e50;}
#node_connection_9 .EventsNode{background-color: #2c3e50;}
#node_connection_10 .EventsNode{background-color: #2c3e50;}

.nodeHeader.color_0:hover,.nodeHeader.color_1:hover,.nodeHeader.color_2:hover,.nodeHeader.color_3:hover,.nodeHeader.color_4:hover,.nodeHeader.color_5:hover
,.nodeHeader.color_6:hover,.nodeHeader.color_7:hover,.nodeHeader.color_8:hover,.nodeHeader.color_9:hover,.nodeHeader.color_10:hover,.nodeHeader.color_11:hover
,.nodeHeader.color_12:hover,.nodeHeader.color_13:hover,.nodeHeader.color_14:hover
 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
}
.nodeHeader {
  cursor: pointer;
}
/* For nested streamNode cannot do that
   wait for selector4
   http://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector/1014958#1014958
.StreamNode:hover {
  background-color: white;
  outline: #fff solid 5px;
} */
.StreamNode:hover>.nodeHeader{
  color:black;
  background-color: white;
}
.StreamNode .nodeHeader {
  font-size:12px;
  /*text-align: center;*/
}
.ConnectionNode, .StreamNode, .EventsNode{
  /* border-right: 2px solid white;      */
  /*border-top: 2px solid white;*/
  /* border-bottom: 2px solid white;  */
  /*box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;  */
  /*overflow: hidden;*/
  word-break: break-all;
}
.TweetsEventsNode {
  overflow: hidden;
}
.GenericEventsNode .content, .GenericEventsNode a {
  color: #FFFFFF !important;
  text-align: center;
  /*font-size: 21px;*/
}
.GenericEventsNode a:hover,.GenericEventsNode a:focus {
  color: #D0E8F1 !important;
  text-decoration: none !important;
}
.singleNote {
  /*background-color: #40E0D0;*/
  pointer-events: all;
}

.NotesEventsNode .content {
  /*color: #C7B0A4;*/
  text-align: center;
  /*font-size: 21px;*/
  /*margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;*/

  word-break: break-word;
}
.NotesEventsNode .date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display:none;
}
.node .tags {
  display: none;
}
.PicturesEventsNode {
 background: rgba(0, 0, 0, 0.27) !important;
}

.NumericalsEventsNode .single-number {
  color: white;
  font-size: 30px;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
}
.ConnectionNode {
  /*background-color: #9c1a0f;     */
  /* border: 10px solid white;  */
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.aggregated-icon {
  float: right;
  width: 25px;
  height: 25px;
  margin: 5px;
  opacity: .5;
  background: url("../images/sprite-icons-type.png") no-repeat;
  z-index: 1;
  display:none;
}

.aggregated-wrapper {
  text-align: center;
  color: white;
}
.aggregated-icon.Notes {
  background-position: -50px top;
}
.aggregated-icon.file {
  background-position: -25px top;
}
.aggregated-icon.url {
  background-position: -25px center;
}
.aggregated-icon.Positions {
  background-position: 0px center;
  position: absolute;
}
.aggregated-icon.Pictures {
  position: absolute;
}
.aggregated-icon.Numericals {
  background-position: -50px center;
}
.aggregated-icon-page {
  /*  position: absolute;
    bottom: 0px;
    right: 0px;
    background: transparent url('../images/icon-page-bottom.png') no-repeat right top;
    width: 20px;
    height: 20px;
    z-index: 1;     */
}
.aggregated-nbr-events {
  position: absolute;
  bottom: 0px;
  right: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(60, 60, 60, 0.6);
  padding: 0px 6px;
  font-size: 10px;
  color: #FFF;
  z-index: 1;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0px;
}
.mapView {
  width: 100%;
  height: 100%;
}


.axis path,
.axis line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.34);
  shape-rendering: crispEdges;
}

.circle {
  fill: #FFF;
}
text{font-size:10px;}
.line
{
  stroke: #FFF;
  fill: none;
}

.chartContainer
{
  overflow: hidden;
  width:100%;
  height:100%;
}
.countView {
  display: table;

}
/*.countView div:hover {
  opacity: 0;
} */

.countView div {
position: absolute;
/*display: table-cell;
vertical-align: middle;
text-align: center;*/
  z-index: 100 !important;
  transition: opacity .1s ease-out;
  -moz-transition: opacity .1s ease-out;
  -webkit-transition: opacity .1s ease-out;
  -o-transition: opacity .1s ease-out;
  bottom: 1px;
  right: 1px;
}
.countView span {

  border-radius: 70px;
  background-color: rgba(60, 60, 60, 0.8);
  padding: 0px 7px;
  font-size: 11px;
}

.tooltip {
  position: absolute;
  display: none;
  padding: 2px;
  opacity: 1;
  z-index: 9999;
}
/** detail view modal **/
.sharings {
  overflow-y: auto;
  height: 100%;
  max-width: 100%;
}
.create-sharing {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
#form-create-sharing .form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.share a {
  display: inline-block;
  margin: 10px;
  font-size: 2em;
  background-color: #2c3e50;
  border-radius: 100%;
}
#sharing-list td {
  vertical-align: middle;
}
.share-small a {
  margin: 0 !important;
  font-size: 1.2em !important;
}
.share i {
  width: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
.share-small i {
  width: 30px !important;
  line-height: 30px !important;
}

.modal, .modal-backdrop, .modal-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 54px;
  overflow: hidden;
  overflow-y: hidden;
}
.modal-backdrop {
  background: none;
}
.modal-header {
  height: 60px;
  background-color: #34495e;
  color: white;
}
.modal-header .close, .modal-header .close:hover {
  color: #fff;
}
.modal-dialog{
  position: fixed;
  overflow: hidden;
  overflow-y: hidden;
  margin-left: 39px;
  margin-right: 29px;
  margin-top: 39px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 54px;
  /*min-width: 600px;*/
  padding: 0;
  width: auto;
  background-color: #fff;
}
.modal-content {
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.5);
  box-shadow: 0 0px 0px rgba(0,0,0,0.5);;
  border-radius: 0px;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-body {
  padding: 0;
}
.modal-body, .modal-panel-left, .modal-panel-right {
  height: 100%;
}
.modal-panel-left {
  float: left;
}
.modal-panel-right {
  border-left: 1px solid #e5e5e5;
  position: absolute;
  width: 230px;
  right: 0;
  top: 60px;
  border-right: 0;
}
#detail-list {
  position: absolute;
  overflow-y: auto;
  float: right;
  top: 0;
  right: 0;
  left: 0;
  bottom: 90px;
  background-color: #ecf0f1;
}
#detail-list li {
  border-bottom: silver solid 1px;
  list-style: none;
}
.preview img {
  max-width: 80px;
  max-height: 80px;
}
#filter {
  bottom: 60px;
  height: 40px;
  background-color: #bdc3c7;
  position: absolute;
  width: 100%;
  color: #ecf0f1;
  padding: 10px;
}
#detail-list .view, #detail-list .checkbox {
  display: inline;
}
#detail-list li.highlighted{
  background-color: #95a5a6 !important;
}
#detail-list li:hover{
  background-color: #bdc3c7;
}
#detail-list .view div{
  float: left;
  padding: 5px;
}
#modal-left-content li.editing {
  border-bottom: none;
  padding: 0;
}

#modal-left-content li.editing .edit {
  display: inline;
  padding: 0 6px 0 6px;
}

#modal-left-content li.editing label {
  display: none;
}
#modal-left-content li .edit {
  display: none;
}
#modal-left-content, #detail-common {
  width: inherit;
}
#detail-full {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 200px;
  overflow-y: auto;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0px 0px 0px;
}
#detail-content {
  position: absolute;
  top: 0;
  width: inherit;
  bottom: 200px;
  top: 60px;
}
.preSelected-stream {
  background: #1D9BD7;
}
#current-tags label {
  background-color: #f39c12;
  padding: 2px 6px 2px 6px;
  border-radius: 8px;
  color: white !important;
  font-weight: normal;
}
#detail-full li label {
  color: black;
}
#detail-full li {
  list-style: none;
  margin-bottom: 10px;
  color: grey;
}
/** end detail view modal **/
.delete:after {
  content: '✖';
  color: #d2322d;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
#creation-content {
  height: 100%;
  margin-bottom: -60px;
  padding-bottom: 60px;
}
.creation-typed {
  border-right: silver solid 1px;
  overflow: auto;
}
.creation-typed-note {
  padding-top: 15px;
}
.creation-typed-position {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
#creation-select-stream {
  overflow: auto;
}
.td-preview {
  width: 100px;
}
.td-progress {
  vertical-align: middle !important;
}
.progress {
  margin-bottom: 0;
}
.progress-bar {
  background-color: #2980b9;
}
#creation-picture {
  height: 100%;
  margin-bottom: -150px;
  padding-bottom: 150px;
  text-align: center;
  z-index: 2;
}
#creation-form {
  z-index: 10;
  position: relative;
}
#creation-picture img {
  max-height: 100%;
  max-width: 100%;
}
#creation-footer {
  height: 60px;
  border-top: silver solid 1px;
}
#creation-footer button {
  margin: 12px;
  float: right;
  font-weight: bold;
  color: white;
}
#current-picture img {
  max-height: 100%;
  max-width: 100%;
}
#current-picture {
  text-align: center;
  background-color: black;
}
#current-picture #add-attachment {
  float: left;
}
#current-picture .picture-icon {
  display: block;
  height: 80px;
  margin-top: -40px;
  opacity: 1;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 11;
  color: #fff;
  font-size: 80px;
  cursor: pointer;
}
#modal-content {
  overflow: auto;
  height: 100%;
  padding-bottom: 60px;
}

#type-select {
  text-align: center;
  margin: 70px auto;
}
.type-select {
  display: inline-block;
  float: none;
}
.type-select i {
  width: 100%;
  height: 100%;
  background-color: #bdc3c7;
  text-align: center;
  font-size: 5em;
  padding: 20px;
  color: #fff;
}
.type-select:hover i {
  background-color: #ecf0f1;
}
.type-select:hover {
  cursor: pointer;
}
#select-picture-container {
  margin: 30px;
  height: 250px;
  border: gray dashed;
  text-align: center;
}
#select-picture-container #fileSelect{
  display: inline-block;
  margin-top: 104px;
}
details details {
  margin-left: 20px;
}
summary {
  cursor: pointer;
}
summary:focus {
  outline: none;
}
.select-stream:checked + label {
  background-color: #7f8c8d;
  font-weight: 700;
  color: #fff;
}
input.select-stream {
  visibility: hidden;
  opacity: 0;
}
summary.connection {
  font-weight: bold;
}
summary, summary label  {
  font-weight: normal;
  color: #000;
}
details summary::-webkit-details-marker {
  display: none;
}
details > summary:first-child::before {
  font-family: FontAwesome;
  content: "\f054";
}
details[open] > summary:first-child::before {
  font-family: FontAwesome;
  content: "\f078";
}
details.open > summary:first-child::before {
  font-family: FontAwesome;
  content: "\f078";
}

.create-stream {
  display: inline-flex;
}
.create-stream i {
  margin-top: 10px;
}
.create-stream input {
  width: 80% !important;
}
#select-picture-container #fileElem {
  visibility: hidden;
  width: 0;
  height: 0;
}
#current-picture .fa-angle-right {
  right: 20px;
}
#current-picture .fa-angle-left {
  left: 20px;
}
#map_canvas {
  width: 100%;
  height: 100%;
}


/** CSS for Drag and Drop Dialog using the modal **/
.modal-dnd-middle {
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 100%;
}

.modal-dnd-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding: 7px;
    border-top: 1px solid #e5e5e5;
}

.modal-dnd-left {
    position: absolute;
    float: left;
    right: 240px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    margin-right: 240px;
}

.modal-dnd-right {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 240px;
    border-left: 1px solid #e5e5e5;
    padding: 7px;
}


.modal-dnd-chart {
    position: absolute;
    top: 0px;
    bottom: 60px;
    right: 240px;
    left: 0px;
}

.modal-dnd-legend {
    position: absolute;
    height: 60px;
    bottom: 0px;
    right: 240px;
    left: 0px;
}

.modal-dnd-values {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
}

.modal-dnd-list {
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
}

.legend-container ul, .modal-dnd-legend ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#modal-dnd-legend ul {
    list-style-type: none;

}

.legend-container li, .modal-dnd-legend li{
    float: left;
    margin-right: 10px;
    border: 1px solid #C2C2C2;
    padding: 3px 5px 3px 0;
}

.modal-dnd-legend .btn {
    margin-right: 3px;
}

.DnD-legend-color {
    display: inline;
}

.DnD-legend-text {
    margin-left: 5px;
}

ul.modal-dnd-legend {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.modal-dnd-legend > li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px solid #474747;
    cursor: pointer;
}



/** CSS for detailed view for charts using the modal **/

#detail-chart-container-general {
    position: absolute;
    width: 100%;
    top: 35px;
    bottom: 0px;
}

.legend-container {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0px;
}

#detail-chart-container-edit {
    position: absolute;
    width: 100%;
    top: 35px;
    bottom:120px;
}

.editor-container {
    position: absolute;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    height: 120px;
    bottom: 0px;
}

#dc-editor-appearance {
    width:100%;
    padding-left: 5px;
    height: 120px;
    float: left;
}

#dc-editor-appearance > ul {
    list-style-type: none;
}

#dc-editor-appearance > ul > li {
    list-style-type: none;
}


#dc-editor-appearance .col-sm-10 {
    width:33%;
}
#dc-editor-appearance .form-control {
    width: 100%;
}





/** END of CSS for Drag and Drop Dialog using the modal **/

/** Login btn */

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: 40px 40px 60px 40px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  color: #FFF;
}
#login-caret {
  font-size: 40px;
  cursor: pointer;
}
#login-form form {
  text-align: initial;
}
#login:before {
  content:'';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}
.btn-pryv-turquoise {
  background-color: #1abc9c;
  color: white;
}
.btn-pryv-alizarin {
  background-color: #e74c3c;
  color: white;
}
.advanced-settings {
  float: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 15px !important;
  border: none !important;
  display: none !important;
}
.inline-block {
  display: inline-block !important;
}
.btn:focus {
  outline: none;
}
.share-link a {
  text-decoration: none;
  color: #fff;
}
.share-link {
  background-color: #4EAAE7;
  padding: 15px;
  text-align: center;
}
.onboarding {
  padding-top: 20px;
}
.onboarding h1{
  color:#000000;
  text-align:left;
  font-weight: 100;
  padding: 30px;
  background-color: #ffffff;
  color:#000000;}
.onboarding .ob_text{
  background-color: #ffffff;
  color:#000000;
  padding: 30px;
}
.onboarding .ob_text p{
  text-align:left;
  font-weight: 100;
  font-size:20px;
  margin-bottom:40px;
}
.onboarding .ob_text form{
  text-align:left;
}
.onboarding img{
  width:100%;
}
.onboarding span {font-weight: 300;}
.onboarding .stream_color_1{color:#16A086;}
.onboarding .stream_color_2{color:#E77E23;}
.onboarding .stream_color_3{color:#9C59B8;}
.onboarding .stream_color_4{color:#E84C3D;}


#add-bookmark-auth {
  display: none;
}



/** CSS switches **/
.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; /*font-family: Trebuchet, Arial, sans-serif;*/ font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.fa-check-circle {
  color: #2ecc71;
}
.fa-exclamation-circle {
  color: #e74c3c;
}
