.logo{
  background: url(vivates-logo.png) 0 0 no-repeat;
  background-size: contain;
  top: 5px;
  width: 165px;
  height: 53px;
  margin-left: -10px;
}
.logo.loading {
  background: url(vivates-logo.png) 0 0 no-repeat;
  background-size: contain;
  background-color: unset;
}
#logo-beta-mention {
  display: none;
}
