<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <!-- ENV example -->
  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <title>Pryv @ Glance || DEVMODE</title>
  <base href="">
  <!-- @endif -->
  <!-- @if NODE_ENV != 'DEVELOPMENT' -->
  <title>Pryv @ Glance</title>
  <base href="{browser-source}_<!-- @echo version -->/">
  <!-- @endif -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="Slice of life" />
  <!-- @if NODE_ENV != 'DEVELOPMENT'  -->
  <meta property="og:url" content="https://{host}" />
  <!-- @endif -->
  <meta property="og:description" content="I just shared a slice. \r\n Content available on Pryv only." />
  <meta property="og:image" content="{browser-source}_<!-- @echo version -->/images/fb_share.jpg" />
  <meta property="og:image:secure_url" content="{browser-source}_<!-- @echo version -->/images/fb_share.jpg" />
  <meta property="og:image:type" content="image/png" />
  <meta property="fb:app_id" content="589869207755296" />
  <link rel="stylesheet" type="text/css" href="styles/vendor.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

  <script type="text/javascript" charset="utf-8" src="script/vendor.js"></script>
  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <script src="script/airbrake-shim.js" data-airbrake-project-id="browser" data-airbrake-project-key="b0de2702276b1e9094a2bfd0d3285a11" data-airbrake-environment-name="production"></script>
  <!-- @endif -->
  <!-- @if NODE_ENV == 'STAGING' -->
  <script src="script/airbrake-shim.js" data-airbrake-project-id="browser" data-airbrake-project-key="b0de2702276b1e9094a2bfd0d3285a11" data-airbrake-environment-name="staging"></script>
  <!-- @endif -->
  <script type="text/javascript" charset="utf-8" src="script/app_bundle_main.js"></script>
  <script type="text/javascript">
    $(function () {
      var baseHref = $('base').attr('href');

      var i18nOptions = {
        ns: {
          namespaces: ['browser'],
          defaultNs: 'browser'
        },
        customLoad: function(lng, ns, options, loadComplete) {
          $.get(baseHref + 'locales/' + lng + '/' + ns + '.json')
           .done(function (data) {
             loadComplete(null, data);
           })
           .fail(function (e) {
             loadComplete(e);
           });
        }
      };
      i18n.init(i18nOptions, function (t) {
        $('body').i18n();
        $('#login-button').html('<i class="fa fa-sign-in"></i> ' + t('nav.signIn'));
      });
      var sampleApp = require('SampleApp');
      <!-- @if NODE_ENV == 'PRODUCTION'  -->
      var wrapped = Airbrake.wrap(function() {
        sampleApp.main(false);
      });
      wrapped();
        <!-- @endif -->
      <!-- @if NODE_ENV == 'STAGING' -->
      var wrapped = Airbrake.wrap(function() {
        sampleApp.main(true);
      });
      wrapped();
      <!-- @endif -->
      <!-- @if NODE_ENV == 'DEVELOPMENT' -->
      sampleApp.main(true);
      <!-- @endif -->

    });
  </script>
  <script id="onboardingView" type="template">
    <div class="container">
    <div class="row onboarding">
      <div class="col-md-4"><h1 class="hidden-xs" data-i18n="onboarding.title"></h1>
        <div class="ob_text hidden-xs" >
          <div data-i18n="[html]onboarding.content"></div>
          <form class="form-inline" role="form" id="onboarding-form">
            <div class="form-group">
              <input type="text" id='onboarding-input-name' class="form-control" data-i18n="[placeholder]onboarding.streamInput" style="width: 152px;" required>
            </div>
            <button type="submit" class="btn btn-primary"><span data-i18n="button.start"></span>  <i class="fa fa-spinner fa-spin" style="display: none;"></i></button>
          </form>
        </div>


      </div>
      <div class="col-md-8 hidden-xs"><img src="images/onboarding_image.png"/></div>
    </div>
    </div>
  </script>
  <script id="super-condensed-view" type="template">
    <div class="aggregated-icon Numericals"></div>
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>

    <div class="aggregated-icon-page"></div>
    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <% _.each(_.keys(datas), function (key) {
          %><p><%= _.size(datas[key])%> <%= key %></p> <%
          })
          %>
        </div>
      </div>
    </div>
  </script>
  <script id="positionsView" type="template">
    <div class="aggregated-icon Positions"></div>
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>

    <div id="map-canvas-<%=id%>" class="mapView"></div>
  </script>
  <script id="picturesView" type="template">
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>
  </script>

  <script id="notesView" type="template">
    <div class="aggregated-icon Notes"></div>
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>
    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <%= content %>
        </div>
      </div>
    </div>
    <div class="tags"><%= tags %></div>
    <div class="date"><%= new Date(time * 1000).toLocaleDateString() %></div>
  </script>
  <script id="genericsView" type="template">
    <div class="aggregated-icon <%= type.split("/")[0] %> <%= type.split("/")[1] %>"></div>
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>
    <div class="aggregated-icon-page"></div>


    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <% if (type.split("/")[0] === 'url') { %>
          <a href="<%= content %>" target="_blank"><%= content %></a>
          <% } else { %>
          <%= content %>
          <% } %>
        </div>
      </div>
    </div>

  </script>
  <script id="tweetView" type="template">
    <div class="aggregated-icon <%= type.split("/")[0] %> <%= type.split("/")[1] %>"></div>
    <% if(eventsNbr > 1) { %>
    <span class="aggregated-nbr-events"><%=eventsNbr%></span>
    <% } %>
    <div class="aggregated-icon-page"></div>


    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <blockquote class="twitter-tweet" align="center" width="<%= width %>" height="<%= height %>">
            <p><%= content.text %> </p>&mdash;
            <%= content['screen-name'] %> (@<%= content['screen-name'] %>) <%= getUrl()%>
          </blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </script>
  <script id="nodeView" type="template">

    <%
    if (typeof(content) != "undefined") {
    if (typeof(content.name) != "undefined" && typeof(content.clientData) != "undefined" ) { %>
    <div class='nodeHeader <%= content.clientData.color %>'><%= content.name %></div>
    <% } else if (typeof(content.name) != "undefined" ) { %>
    <div class='nodeHeader '><%= content.name %></div>
    <% } else if (typeof(content.username) != "undefined" && content._accessInfo.name !== "pryv-browser") { %>
    <div class='nodeHeader'><%= content.username %> / <%= content._accessInfo.name %></div>
    <% } else if (typeof(content.username) != "undefined") { %>
    <div class='nodeHeader'><%= content.username %></div>
    <% } } %>
    <span></span>
  </script>

  <script type="text/html" id="template-detailListCompositeView">
    <div id="detail-list"></div>
  </script>
  <script type="text/html" id="template-subscribeListCompositeView">
    <ul id="subscribe-list"></ul>
  </script>
  <script type="text/html" id="template-detailItemView">
    <div class="row detail-item-date">
      <div>
        <span class="date"><%= new Date(event.time * 1000).toLocaleDateString() %></span>
        <span class="time"><%= new Date(event.time * 1000).toLocaleTimeString() %></span>
      </div>
    </div>
    <div class="row detail-item-content">
      <%= getPreview() %>
    </div>
    <div class="row detail-item-checkbox">
      <div class="pryv-checkbox">
        <input type="checkbox" id="c<%= getUniqueId() %>" class="checkbox">
        <label for="c<%= getUniqueId() - 1 %>">&nbsp;</label>
      </div>

    </div>
  </script>
  <script type="text/html" id="template-sharingListCompositeView">
    <ul id="sharing-list"></ul>
  </script>
  <script type="text/html" id="template-sharingItemView">

    <td class="sharing-name col-md-4"><a href="javascript:void(0)"><i class="fa fa-pencil sharing-edit-name"></i> </a><span class="sharing-edit-name"> <%= sharing.name %></span><div class="input-group"><input type="text" class="form-control" placeholder="<%= sharing.name %>"><span class="input-group-btn" style="width: auto;">
        <button class="btn btn-default" type="button">Save <i class="fa fa-spinner fa-spin"></i></button>
      </span></div></td><td class="sharing-url"><a href="<%= sharing.url %>"><%= sharing.url %></a></td>
     <td class="share share-small">

      <a target="_blank" href="https://www.facebook.com/sharer.php?u=<%= sharing.url.replace(/#/g, '%23') %>&t="
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
      <i class="fa fa-facebook"></i></a>
       <a target="_blank" href="https://twitter.com/share?url=<%= sharing.url.replace(/#/g, '%23') %>&via=pryv"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
      <i class="fa fa-twitter"></i></a>
       <a href="mailto:?subject=Sharing from PrYv&amp;body=Here is a sharing for you: <%= sharing.url %>" title="Share by Email"><i class="fa fa-envelope"></i></a>
     </td>
    <td class="sharing-trash"><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></td>

  </script> <script type="text/html" id="template-subscriptionItemView">
    <form class="form-inline subscribe" role="form">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Follow
        </label>
      </div>
      <div class="form-group">
        <label>Name this slice: </label>
        <input type="text" required class="subscription-name form-control" placeholder="<%= connection._accessInfo.name %>">
      </div>
      <% if (error) {%>
        <i class="fa fa-exclamation-circle"></i>
      <% } %>
      <% if (created) {%>
      <i class="fa fa-check-circle"></i>
      <% } %>
    </form>
  </script>
  <script type="text/html" id="template-bookmarkListCompositeView">
    <ul id="bookmark-list"></ul>
  </script>
  <script type="text/html" id="template-bookmarkItemView">
   <td class="col-md-4"><%= bookmark.settings.name %></td><td><a href="<%= bookmark.settings.url %>"><%= bookmark.settings.url %></a></a></td><td class="bookmark-trash"><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></td>
  </script>
    
  <script type="text/html" id="template-draganddrop">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="myModalLabel">Create your own node</h4>
      <div class="modal-close"></div>
    </div>
    <div class="modal-dnd-middle">
      <div class="modal-dnd-left">
        <div class="modal-dnd-chart"></div>
        <div class="modal-dnd-legend">legend</div>
      </div>
      <div class="modal-dnd-right">
        <div class="modal-dnd-values">
          <span><h2>Your Values</h2></span>
          <span><h4>Add your value and create your node</h4></span>
        </div>
        <div class="modal-dnd-list"></div>
      </div>
    </div>
    <div class="modal-dnd-footer">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control " id="dnd-field-name" placeholder="Enter the Node's name here">
        <span class="input-group-btn">
          <button class="btn btn-danger" id="dnd-btn-cancel" type="button">Cancel</button>
          <button class="btn btn-success" id="dnd-btn-create" type="button">Create!</button>
        </span>
      </div>
  </script>
  <script type="text/template" id="template-draganddrop-itemview">
    <a class="btn btn-primary btn-xs DnD-legend-button" href="javascript:;">
      <span class="fa fa-plus"></span>
    </a>
    <span class="DnD-legend-text"><%= displayName() %></span>
  </script>
  <script type="text/template" id="template-chart-container">
    <div id="chart-container"></div>
  </script>
  <script type="template" id="template-detail-content-position">
  </script>
  <script type="template" id="template-detail-content-generic">
    <% if (event) {%>
    <div class="event-structure" id="full-content"><%= showContent() %></div>
    <div class="event-structure" id="full-attachment"><%= showAttachment() %></div>
    <div class="event-structure" id="add-attachment"></div>
    <% } %>
  </script>
  <script type="template" id="template-detail-creation-type">
    <div class="container" style="width: auto;">
    <div class="row" id="type-select">
      <div class="type-select col-md-2" data-type="note/txt"><i class="fa fa-pencil fa-3"></i><span data-i18n="modal.addEvent.selectType.note"></span></div>
      <div class="type-select col-md-2" data-type="picture/attached"><i class="fa fa-camera  fa-3"></i><span data-i18n="modal.addEvent.selectType.picture"></span></div>
      <div class="type-select col-md-2" data-type="position/wgs84"><i class="fa fa-map-marker  fa-3"></i><span data-i18n="modal.addEvent.selectType.position"></span></div>
    </div>
    </div>
  </script>
  <script type="template" id="template-detail-creation-stream">
    <h1 data-i18n="modal.addEvent.selectStream"></h1>
    <%= getStream() %>
  </script>
  <script type="template" id="template-detail-picture-select">
    <div class="container">
    <h1 data-i18n="modal.addEvent.uploadPicture"></h1>
    <div id="select-picture-container">
      <input type="file" id="fileElem" name="file" accept="image/*" multiple>
      <button id="fileSelect" class="btn btn-default" data-i18n="button.selectPicture"></button>
    </div>
    </div>
  </script>
  <script type="template" id="template-detail-content-tweet">
    <div class="content Center-Container is-Table">
      <div class="Table-Cell">
        <div class="Center-Block">
          <% if (event) { %>
          <blockquote class="twitter-tweet" align="center">
            <p><%= event.content.text %> </p>&mdash;
            <%= event.content['screen-name'] %> (@<%= event.content['screen-name'] %>) <%= getUrl()%>
          </blockquote>
          <% } %>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </script>
  <script type="template" id="template-detail-creation-event">
    <div id="creation-content">
    <div class="creation-typed creation-typed-<%= getEventType() %> full-height col-md-9">
      <%= getTypedView() %>
    </div>
    <div id="creation-select-stream" class="full-height col-md-3"><h3 data-i18n="modal.addEvent.selectStream"></h3><%= getStream() %></div>
    </div>
    <div id="creation-footer" class="col-md-12"><button id="publish" class="btn btn-pryv-turquoise" ><span data-i18n="button.publish"></span> <i class="fa fa-spinner fa-spin"></i></button><button id="cancel" class="btn" data-i18n="button.cancel"></button></div>
  </script>
  <script type="template" id="template-detail-content-note">
    <% if (event) { %>
    <ul>
      <li class="event-structure editable" id="current-content"><span data-i18n="modal.detail.content"></span>: <label><%= event.content %></label>
        <textarea class="edit form-control" rows="5" id="edit-content" value="<%= event.content %>"><%= event.content %></textarea>
      </li>
    </ul>
    <% } %>
  </script>
  <script type="template" id="template-detail-content-picture">
    <% if (event) { %>
      <div class="event-structure full-height full-width" id="current-picture">
        <span class="fa fa-angle-left picture-icon"></span>
        <span class="fa fa-angle-right picture-icon"></span>
            <img src="<%= getSrc() %>" alt="<%= getAlt()%>">
            <!--<div class="event-structure" id="add-attachment"></div> -->
      </div>
    <% } %>
  </script>

  <script type="template" id="chartview-zoompan-ui">
      <div class="chartview-zoompan-ui">
        <div class="chartview-pan-ui" id="chartview-pan-ui">
          <div>
            <span class="fa fa-arrow-circle-o-up" id="pan-up"></span>
            <span class="fa fa-arrow-circle-o-left" id="pan-left"></span>
            <span class="fa fa-dot-circle-o" id="pan-center"></span>
            <span class="fa fa-arrow-circle-o-down" id="pan-down"></span>
            <span class="fa fa-arrow-circle-o-right" id="pan-right"></span>
          </div>
        </div>
        <div class="chartview-zoom-ui" id="chartview-zoom-ui">
          <span class="fa fa-plus-square" id="zoom-plus"></span>
          <span class="fa fa-minus-square" id="zoom-minus"></span>
        </div>
      </div>
  </script>


  <script type="template" id="template-detail-content-numerical-general">
      <div class="legend-container" id="legend-container-general"></div>
      <div class="detail-chart-container" id="detail-chart-container-general"></div>
  </script>
  <script type="template" id="template-detail-content-numerical-edit">
      <div class="legend-container" id="legend-container-edit"></div>
      <div class="detail-chart-container" id="detail-chart-container-edit"></div>
      <div class="editor-container">
        <div id="dc-editor-appearance">
          <ul>
            <li>
              <div class="form-group">
                <label class="col-sm-2 control-label" data-i18n="modal.detail.graph.color"></label>
                <div class="col-sm-10">
                  <select id="detailed-view-chart-color" class="form-control">
                    <option value="#1abc9c" style="background-color: #1abc9c">&nbsp;</option>
                    <option value="#2ecc71" style="background-color: #2ecc71">&nbsp;</option>
                    <option value="#16a085" style="background-color: #16a085">&nbsp;</option>
                    <option value="#27ae60" style="background-color: #27ae60">&nbsp;</option>
                    <option value="#3498db" style="background-color: #3498db">&nbsp;</option>
                    <option value="#2980b9" style="background-color: #2980b9">&nbsp;</option>
                    <option value="#9b59b6" style="background-color: #9b59b6">&nbsp;</option>
                    <option value="#8e44ad" style="background-color: #8e44ad">&nbsp;</option>
                    <option value="#34495e" style="background-color: #34495e">&nbsp;</option>
                    <option value="#2c3e50" style="background-color: #2c3e50">&nbsp;</option>
                    <option value="#f1c40f" style="background-color: #f1c40f">&nbsp;</option>
                    <option value="#f39c12" style="background-color: #f39c12">&nbsp;</option>
                    <option value="#e67e22" style="background-color: #e67e22">&nbsp;</option>
                    <option value="#d35400" style="background-color: #d35400">&nbsp;</option>
                    <option value="#e74c3c" style="background-color: #e74c3c">&nbsp;</option>
                    <option value="#c0392b" style="background-color: #c0392b">&nbsp;</option>
                    <option value="#ecf0f1" style="background-color: #ecf0f1">&nbsp;</option>
                    <option value="#bdc3c7" style="background-color: #bdc3c7">&nbsp;</option>
                    <option value="#95a5a6" style="background-color: #95a5a6">&nbsp;</option>
                    <option value="#7f8c8d" style="background-color: #7f8c8d">&nbsp;</option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <label class="col-sm-2 control-label" data-i18n="modal.detail.graph.style"></label>
                <div class="col-sm-10">
                  <select id="detailed-view-chart-style" class="form-control">
                    <option value="line" data-i18n="modal.detail.graph.line"></option>
                    <option value="point" data-i18n="modal.detail.graph.point"></option>
                    <option value="bar" data-i18n="modal.detail.graph.bar"></option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <label class="col-sm-2 control-label" data-i18n="modal.detail.graph.operation"></label>
                <div class="col-sm-10">
                  <select id="detailed-view-chart-operation" class="form-control">
                    <option value="none" data-i18n="modal.detail.graph.none"></option>
                    <option value="sum" data-i18n="modal.detail.graph.sum"></option>
                    <option value="average" data-i18n="modal.detail.graph.average"></option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <label class="col-sm-2 control-label" data-i18n="modal.detail.graph.interval"></label>
                <div class="col-sm-10">
                  <select id="detailed-view-chart-interval" class="form-control">
                    <option value="none" data-i18n="modal.detail.graph.none"></option>
                    <option value="daily" data-i18n="modal.detail.graph.daily"></option>
                    <option value="weekly" data-i18n="modal.detail.graph.weekly"></option>
                    <option value="monthly" data-i18n="modal.detail.graph.monthly"></option>
                    <option value="yearly" data-i18n="modal.detail.graph.yearly"></option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <label class="col-sm-2 control-label" data-i18n="modal.detail.graph.fitting"></label>
                <div class="col-sm-10">
                  <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="detailed-view-chart-fitting" checked>
                    <label class="onoffswitch-label" for="detailed-view-chart-fitting">
                      <div class="onoffswitch-inner"></div>
                      <div class="onoffswitch-switch"></div>
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <button id="detailed-view-chart-cancel"type="button" class="btn btn-danger" data-i18n="button.cancel"></button>
              <button id="detailed-view-chart-ok" type="button" class="btn btn-success" data-i18n="button.ok"></button>
            </li>
          </ul>
        </div>
      </div>
  </script>

  <script type="template" id="template-detail-full">
      <% if (event) {%>
      <ul>
        <li class="event-structure editable" id="current-streamId"><span data-i18n="modal.detail.editForm.stream"></span>: <label><%= event.streamName
          %></label>
          <select class="edit" id="edit-streamId"><%= getStreamStructure() %></select>
        </li>

        <!--
         <li class="event-structure" id="current-trashed">trashed: <label><%= event.trashed %></label>
        </li> -->
        <li class="event-structure editable" id="current-time"><span data-i18n="modal.detail.editForm.time"></span>: <label><%= new Date(event.time *
          1000).toLocaleDateString() %> <%= new Date(event.time * 1000).toLocaleTimeString()
          %></label>
          <input type="datetime-local" class="edit" id="edit-time" value="<%= new Date(Math.round(event.time * 1000)).toISOString().slice(0, -5) %>">
        </li> <!--
        <li class="event-structure" id="current-type">type: <label><%= event.type %></label>
          <input class="edit" id="edit-type" value="<%= event.type %>">
        </li> -->
        <li class="event-structure editable" id="current-description"><span data-i18n="modal.detail.editForm.description"></span>: <label><%=
          event.description %></label>
          <input class="edit" id="edit-description" value="<%= event.description %>"></li>
        <li class="event-structure editable" id="current-tags"><span data-i18n="modal.detail.editForm.tags"></span>:
          <% event.tags.forEach(function (tag) { %>
          <label><%= tag %></label>
          <% }) %>
          <input class="edit" id="edit-tags" value="<%= event.tags.join(', ').replace('"', '&quot;') %>"></li>

        <button id ="submit-edit" type="button" class="btn btn-pryv-turquoise"><span data-i18n="button.submit"></span> <i class="fa fa-spinner fa-spin" style="display: none;"></i></button>
        <button id ="trash-edit" type="button" class="btn btn-danger"><span data-i18n="button.trash"></span><i class="fa fa-spinner fa-spin" style="display: none;"></i></button>
      </ul>
      <% } %>
  </script>
  <script type="template" id="template-fusion-graph">
    <div id="fusion-full">
    </div>
  </script>
  <script id="node-template" type="text/template">
    <summary>
    <div class="checkbox inline-block">
      <label>
        <input class="input-checkbox" type="checkbox"><%= name %>
      </label>
    </div>
    </summary>
  </script>
<script type="template" id="left-panel-template">
  <h3></h3>
  <ul class="menu-list">
    <li id="filter-by-stream"></li>
  </ul>
  <div class="menu-footer">
    <span class="version">Browser <!-- @echo version --></span>
    <span class="copyright">&copy; 2014 Pryv</span>
  </div>
</script>
<script type="template" id="filter-by-stream-template">
  <span class="li-title" data-toggle="collapse" data-target="#collapseFilterByStream" data-i18n="leftPanel.filterByStream"></span>
  <div id="collapseFilterByStream" class="panel-collapse collapse">
    <div class="panel-body">
      <%= getStream() %>
      <button class="btn" id="filter-by-stream-apply" data-i18n="button.apply"></button>
    </div>
  </div>
</script>
<script type="template" id="settings-modal-template">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title" id="myModalLabel" data-i18n="modal.settings.header"></h4>
     <div class="modal-close"></div>
   </div>
  <div id="modal-content">
    <div id="settings-nav"></div>
    <div id="settings-content" class="col-md-10" >
      <div id="settings-password"></div>
    </div>
  </div>
</script>
<script type="template" id="nav-settings-modal-template">
  <ul class="nav">
    <li><a href="javascript:void(0)" data-name="password" data-i18n="modal.settings.nav.password"></a></li>
  </ul>
</script>
<script type="template" id="password-settings-modal-template">
  <div class="panel panel-default settings-panel">
    <div class="panel-heading">
      <h2 class="panel-title" data-i18n="modal.settings.password.title"></h2>
      <h6 class="panel-subtitle" data-i18n="modal.settings.password.subtitle"></h6>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="currentPassword" class="col-sm-2 control-label" data-i18n="modal.settings.password.current"></label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="currentPassword" required>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-sm-2 control-label" data-i18n="modal.settings.password.new"></label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="newPassword" required>
          </div>
        </div>
        <div class="form-group">
          <label for="reNewPassword" class="col-sm-2 control-label" data-i18n="modal.settings.password.reNew"></label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="reNewPassword" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-pryv-turquoise"><span data-i18n="button.save"></span> <span class="fa fa-spinner fa-spin"></span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
</head>

<body>
<div class="onboarding visible-xs">
<div class="ob_text" style="margin: 15px;">
  <i class="fa fa-mobile" style="font-size: 106px;text-align: center;display: block;"></i>
  <p style="font-size: 16px;" data-i18n="[html]mobile"></p>
</div>
</div>
<div id="main-container" class="hidden-xs">
  <div class="menu-panel"></div>
<span id="pryvButton"></span>
<div id="login">
  <div id="login-caret" class="centered"><span class="glyphicon glyphicon-chevron-left"></span>
  </div>
  <div id="login-form" class="centered">
    <form role="form">
      <h3 data-i18n="login.title"></h3>

      <div class="form-group">
        <label class="sr-only" for="login-username">Username</label>
        <input type="text" class="form-control" id="login-username" data-i18n="[placeholder]login.username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" data-i18n="[placeholder]login.password">
      </div>
      <button type="submit" class="btn btn-pryv-turquoise" data-i18n="button.login"></button>
    </form>
  </div>
</div>
<div class="dropdown" id="login-dropdown" style="float: right; z-index: 9000;"><a href="javascript:void(0)" id="login-button" class="menu-button" data-toggle="dropdown"><i class="fa fa-sign-in"></i> </a>
<ul class="dropdown-menu">
  <li class="logo-settings"><a href="javascript:void(0)" ><span class="fa fa-cog"></span> <span data-i18n="nav.settings"></span></a></li>
  <li class="logo-add"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-plus"></span> <span data-i18n="nav.addEvent"></span></a></li>
  <li class="logo-create-sharing"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-share-alt"></span> <span data-i18n="nav.share"></span></a></li>
  <li class="logo-sharing"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-star"></span> <span data-i18n="nav.manageSlices"></span></a></li>
  <li class="logo-to-my-pryv"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-home"></span> <span data-i18n="nav.myPryv"></span></a></li>
  <li class="logo-subscribe"><a href="javascript:void(0)" ><span class="glyphicon glyphicon-star-empty"></span> <span data-i18n="nav.follow"></span></a></li>
  <li class=""><a href="mailto:support@pryv.com?subject=Browser bug report&amp;body=" title="Bug report"><i class="fa fa-bug"></i> <span data-i18n="nav.bugReport"></span></a></li>
  <li id="sign-out"><a href="javascript:void(0)" ><i class="fa fa-sign-out"></i> <span data-i18n="nav.signOut"></span></a></li>
</ul></div>
<a href="javascript:void(0)" id="logo-settings" class="logo-settings menu-button"><span class="fa fa-cog"></span></a>
<a href="javascript:void(0)" id="logo-subscribe" class="logo-subscribe menu-button"><span class="glyphicon glyphicon-star-empty"></span></a>
<a href="javascript:void(0)" id="logo-sharing" class="logo-sharing menu-button"><span class="glyphicon glyphicon-star"></span></a>
<a href="javascript:void(0)" id="logo-create-sharing" class="logo-create-sharing menu-button"><span class="glyphicon glyphicon-share-alt"></span></a>
<a href="javascript:void(0)" id="logo-add" class="logo-add menu-button"><span class="glyphicon glyphicon-plus"></span></a>
<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!-- do not put anything between #logo-reload and #tree -->
<!-- @endif -->
<span id="logo-toggle-panel" ><i class="fa fa-bars"></i></span>
<a href="#" id="logo-reload" class="logo">Pryv</a>
<div id="tree">
  <div id="empty-events">
    <h1 data-i18n="noEvents.title"></h1>
  </div>
</div>
<div id="timeframe"></div>
<div class="modal" id="pryv-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-animation">
    <div class="modal-content">

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
<!-- @if NODE_ENV != 'DEVELOPMENT'  -->
<!-- Google Analytics -->
<script>
  var _gaq=[['_setAccount','UA-36589447-3'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<!-- @endif -->
</body>
</html>
