.logo{
  background: url(domo-logo.png) 0 0 no-repeat;
  background-size: contain;
  top: 5px;
  width: 111px;
  height: 40px;
  margin-left: -55px;
}
.logo.loading {
  background: url(domo-logo.png) 0 0 no-repeat;
  background-size: contain;
  background-color: unset;
}
#logo-beta-mention {
  display: none;
}
